<template>
  <div>
    <div>
      <b-modal
        id="modal-form-user"
        ref="modal-form-user"
        :title="title"
        @hidden="resetModal"
        @ok="handleOk"
      >
        <form ref="form" @submit.stop.prevent="handleSubmit">
          <b-form-group
            label="name"
            label-for="name"
            :invalid-feedback="invalidFeedbackname"
            :valid-feedback="validFeedbackname"
            :state="statename"
          >
            <b-form-input id="name" v-model="form.name" required></b-form-input>
          </b-form-group>

          <b-form-group
            label="gender"
            label-for="gender"
            :invalid-feedback="invalidFeedbackgender"
            :valid-feedback="validFeedbackgender"
            :state="stategender"
          >
            <b-form-select id="gender" v-model="form.gender" required :options="genderoption"></b-form-select>
          </b-form-group>

          <b-form-group label="วันเกิด" label-for="brithday" v-model="form.birthday">
            <div>
              <label for="example-input">Choose a date</label>
              <b-input-group class="mb-3">
                <b-form-input
                  id="example-input"
                  v-model="form.birthday"
                  type="text"
                  placeholder="YYYY-MM-DD"
                  autocomplete="off"
                ></b-form-input>
                <b-input-group-append>
                  <b-form-datepicker
                    v-model="form.birthday"
                    button-only
                    right
                    locale="en-US"
                    aria-controls="example-input"
                    @context="onContext"
                  ></b-form-datepicker>
                </b-input-group-append>
              </b-input-group>
            </div>
          </b-form-group>
          <b-form-group label="Education" label-for="Education">
            <select
              v-model="form.education"
              class="custom-select mb-2 mr-sm-2 mb-sm-0"
              id="inlineFormCustomSelect"
            >
              <option selected>การศึกษา...</option>
              <option value="ปวช">ปวช</option>
              <option value="ปวส">ปวส</option>
              <option value="ปริญาตรี">ปริญาตรี</option>
            </select>
            <br />
          </b-form-group>

          <b-form-group label="Position" label-for="position">
            <select
              class="custom-select mb-2 mr-sm-2 mb-sm-0"
              id="inlineFormCustomSelect"
              select
              v-model="form.position"
            >
              <option selected>ตำเเหน่ง...</option>
              <option value="guard">guard</option>
              <option value="dev">dev</option>
              <option value="data">data-sci</option>
            </select>
          </b-form-group>
        </form>
        <b-card class="mt-3" header="Form Data Result">
          <pre class="m-0">{{ form }}</pre>
        </b-card>
      </b-modal>
      <b-modal
        id="modal-search-user"
        ref="modal-search-user"
        title="เจอพนักงาน"
        @hidden="resetModal"
        @ok="handleOk"
      ></b-modal>
      <b-button
        @click="addnewUser"
        v-b-modal.modal-form-user
        variant="success"
        class="float-right"
      >Addnew</b-button>
      <br />
      <input id="link" v-model="search" placeholder="ค้นหา" />

      <b-button v-b-modal.modal-search-user variant="success">Go</b-button>

      {{search}}
      <b-table striped hover :items="userlist" :fields="fields">
        <template v-slot:cell(operation)="data">
          <b-button @click="editUser(data.item)">Edit</b-button>&nbsp;
          <b-button @click="delUser(data.item)" variant="danger">del</b-button>
        </template>
      </b-table>
    </div>
  </div>
</template>


<script>
import axios from "axios";

export default {
  data() {
    return {
      add: true,
      title: "เพิ่มผู้ใช้ใหม่",
      search: "aaa ",
      form: {
        _id: " ",
        name: "",
        gender: null,
        birthday: "",
        education: "",
        position: ""
      },
      genderoption: [
        { value: "M", text: "ผู้ชาย" },
        { value: "F", text: "ผู้หญิง" }
      ],

      userlist: [],

      fields: [
        "id",
        "name",
        "gender",
        "birthday",
        "education",
        "position",
        "operation"
      ]
    };
  },
  methods: {
    getUsers() {
      axios
        .get("http://localhost:3000/users")
        .then(res => {
          console.log(res);
          this.userlist = res.data;
        })
        .catch(err => {
          console.log(err);
        });
    },

    editUser(user) {
      this.add = false;
      this.$bvModal.show("modal-form-user");

      this.title = "เเก้ไขผู้ใช้";
      this.form = { ...user };
    },

    addUser(user) {
      user.id = this.lastid++;
      this.userlist.push(user);
      this.resetModal();
    },
    addnewUser() {
      this.add = true;
      this.$bvModal.show("modal-form-user");
    },
    updateUser(user) {
      const index = this.userlist.findIndex(item => item.id === user.id);
      this.userlist.splice(index, 1, user);
    },
    delUser(user) {
      this.boxTwo = "";
      this.$bvModal
        .msgBoxConfirm("ท่านต้องการลบ" + user.name + "หรือไม่", {
          title: "Please Confirm",
          size: "sm",
          buttonSize: "sm",
          okVariant: "danger",
          okTitle: "YES",
          cancelTitle: "NO",
          footerClass: "p-2",
          hideHeaderClose: false,
          centered: true
        })
        .then(value => {
          if (value) {
            console.log(user._id);
            //userservice.delelteUser(user)
            //this.getUsers()
            axios
              .delete("http://localhost:3000/users/" + user._id)
              .then(res => {
                console.log(res);
                this.getUsers();
              })
              .catch(err => {
                console.log(err);
              });
          }
        });
    },
    onContext(ctx) {
      // The date formatted in the locale, or the `label-no-date-selected` string
      this.formatted = ctx.selectedFormatted;
      // The following will be an empty string until a valid date is entered
      this.selected = ctx.selectedYMD;
    },
    resetModal() {
      this.form = {
        _id: '',
        name: "",
        gender: " "
      };
    },

    handleOk(bvModalEvt) {
      bvModalEvt.preventDefault();

      this.handleSubmit();
    },
    handleSubmit() {
      if (this.statename == false || this.stategender == false) {
        return;
      }
      if (this.add == false) {
        // this.updateUser(this.form);
        // userservice.updateUser(this.form)
        //this.getUsers()
        axios
          .put("http://localhost:3000/users", this.form)
          .then(res => {
            console.log(res);
            this.getUsers();
          })
          .catch(err => {
            console.log(err);
          });

        this.$nextTick(() => {
          this.$bvModal.hide("modal-form-user");
        });
      } else {
        this.lastid++;
        //this.addUser(this.form);
        //userservice.addUser(this.form);
        delete this.form._id
        axios
          .post("http://localhost:3000/users", this.form)
          .then(res => {
            console.log(res);
            this.getUsers();
          })
          .catch(err => {
            console.log(err);
          });

        this.$nextTick(() => {
          this.$bvModal.hide("modal-form-user");
        });
      }
    }
  },
  computed: {
    Search() {
      return this.form.name.length >= 2 ? true : false;
    },
    statename() {
      return this.form.name.length >= 2 ? true : false;
    },
    invalidFeedbackname() {
      if (this.form.name.length > 2) {
        return "";
      } else if (this.form.name.length > 0) {
        return "ชื่อต้องมีขนาดอย่างน้อยสองตัวอักษร";
      } else {
        return "ต้องใส่ชื่อ";
      }
    },
    validFeedbackname() {
      return this.statename === true ? "สำเร็จ" : "";
    },
    stategender() {
      return this.form.gender != null;
    },
    invalidFeedbackgender() {
      if (this.form.gender != null) {
        return "";
      } else {
        return "ต้องเลือกเพศ";
      }
    },
    validFeedbackgender() {
      return this.stategender === true ? "สำเร็จ" : "";
    }
  },
  mounted() {
    console.log("Vue monted");
    this.getUsers();
  }
};
</script>