<template>

  <div>
      <div><slot></slot></div>
    <button class="btn btn-danger" @click="dec()"><slot name="DEC"></slot></button>
    {{number}}
    <button class="btn btn-primary" @click="inc()"><slot name="INC"></slot></button>
  </div>
</template>
<script>
export default {
    props:['begin'],
  data() {
    return {number:0}
  },
  methods:{
      dec:function(){
          this.number--;
           this.$emit('dec',this.number)
      },
           inc:function(){
          this.number++;
          this.$emit('inc',this.number)
      },
  },
  created(){
      console.log(this.begin)
      this.number = this.begin
  }
};
</script>