<template>
<div>
  <my-counter begin="1" @inc ="inc"  @dec ="dec">counter ของผม
    <template #DEC>
      ลบ
    </template>
    <template #INC>
      บวก
    </template>
  </my-counter>
</div>
</template>

<script>
import  Mycounter from '../components/Mycounter.vue'
export default {
  data() {
    return {};
  },
  methods:{
inc : function(number){
  console.log('Counter view inc'+number)
},
dec : function(number){
  console.log('Counter view dec'+number)
}

  },
  components:{
      'my-counter':Mycounter
  }
};
</script>